body {
    margin : 0px;
    font-family: sans-serif;
    background-color: #F4F7F6; 
    counter-reset: etape; /* COMPTEUR À 0 !!! */
}

header {
    text-align: center;
    background-color: black;
    text-decoration-color: red;
    width : 100%;
    margin : 0px;
    margin-bottom: 0px;
}

.illustration {
    margin: 15px auto;
    background-image: url(../pictures/Logo_Anki.png);
    background-size:cover;
    width:490px;
    height:300px;
    position: relative;
}


/* ANIMATION REBOND  */
header .container-mouvement {
    margin: 15px auto;
    position: relative;
    background-size: 300px;
    width:370px;
    height: 220px;
    top:00%;
    left:0;
}

.chemin-svg {
    position: absolute;
    background-size: 300px;
    width:370px;
    height: 220px;
    top:00%;
    left:0;
}

.objet {
    offset-path: path("M 0,100 C0,40 50,40 50,100 C50,40 100,40 100,100 C100,40 150,40 150,100 C150,40 200,40 200,100 C200,40 250,50 250,50"); /* PARABOLE */
    transform-origin: top center;
    -webkit-transform-origin: top center;;
}

.objet {
    position:absolute;
    transform: scale(0.5);
    -webkit-transform: scale(0.5);
    top:15px;
    left:100px;
    width:40px;
    height: auto;
    offset-rotate: 0deg;
}

.container-mouvement:hover .objet {
    animation : rebond 3s  forwards;
    -webkit-animation : rebond 3s  forwards;
}

@keyframes rebond {
    0% {offset-distance: 0%;}
    10% {offset-distance: 10%; animation-timing-function:ease-out; }
    20% {offset-distance: 20%; animation-timing-function:ease-in; offset-rotate:0deg;}
    30% {offset-distance: 30%; animation-timing-function:ease-out; offset-rotate:0deg;}
    40% {offset-distance: 40%; animation-timing-function:ease-in; offset-rotate:0deg;}
    50% {offset-distance: 50%; animation-timing-function:ease-out; offset-rotate:0deg;}
    60% {offset-distance: 60%; animation-timing-function:ease-in; offset-rotate:0deg;}
    70% {offset-distance: 70%; animation-timing-function:ease-out; offset-rotate:0deg;}
    80% {offset-distance: 80%; animation-timing-function:ease-in; offset-rotate:0deg;}
    100% {offset-distance: 100%; offset-rotate:0deg;}
}

@-webkit-keyframes rebond {
    0% {offset-distance: 0%;}
    10% {offset-distance: 10%; -webkit-animation-timing-function:ease-out; }
    20% {offset-distance: 20%; -webkit-animation-timing-function:ease-in; offset-rotate:0deg;}
    30% {offset-distance: 30%; -webkit-animation-timing-function:ease-out; offset-rotate:0deg;}
    40% {offset-distance: 40%; -webkit-animation-timing-function:ease-in; offset-rotate:0deg;}
    50% {offset-distance: 50%; -webkit-animation-timing-function:ease-out; offset-rotate:0deg;}
    60% {offset-distance: 60%; -webkit-animation-timing-function:ease-in; offset-rotate:0deg;}
    70% {offset-distance: 70%; -webkit-animation-timing-function:ease-out; offset-rotate:0deg;}
    80% {offset-distance: 80%; -webkit-animation-timing-function:ease-in; offset-rotate:0deg;}
    100% {offset-distance: 100%; offset-rotate:0deg;}
}

.idee {
    position: absolute;
    width:15px;
    height:auto;
    /* background-color: chartreuse; */
    /* border-radius: 50%; */
    top:180px;
    left:70px;
    opacity:0;
    /* animation : grossissement 3s  forwards; */
}

.container-mouvement:hover .idee {
    animation : grossissement 3s  forwards;
    -webkit-animation : grossissement 3s  forwards;
}

@keyframes grossissement {
    0% {offset-distance: 0%;}
    10% {offset-distance: 10%;  }
    20% {offset-distance: 20%; transform: scale(2.0); opacity:1;}
    30% {offset-distance: 30%; }
    40% {offset-distance: 40%; transform: scale(3.0); opacity:1;}
    50% {offset-distance: 50%; }
    60% {offset-distance: 60%; transform: scale(4.0); opacity:1;}
    70% {offset-distance: 70%; }
    80% {offset-distance: 80%; transform: scale(5.0); opacity:1;}
    100% {offset-distance: 100%; transform: scale(5.5); opacity:1;}
}

@-webkit-keyframes grossissement {
    0% {offset-distance: 0%;}
    10% {offset-distance: 10%;  }
    20% {offset-distance: 20%; -webkit-transform: scale(2.0); opacity:1;}
    30% {offset-distance: 30%; }
    40% {offset-distance: 40%; -webkit-transform: scale(3.0); opacity:1;}
    50% {offset-distance: 50%; }
    60% {offset-distance: 60%; -webkit-transform: scale(4.0); opacity:1;}
    70% {offset-distance: 70%; }
    80% {offset-distance: 80%; -webkit-transform: scale(5.0); opacity:1;}
    100% {offset-distance: 100%; -webkit-transform: scale(5.5); opacity:1;}
}

section {
    text-align: center;
    padding-bottom: 20px;
}

h1 {
    color : #ffffff;
    font-size: 2.5em;  /* ceci est un commentaire */
    font-family: 'Indie Flower', cursive;
    text-align: center;
    opacity : 1.0;
    margin-top : 0px;
    padding-top: 30px;
}
h2 {
    color : white;
    font-size: 1.5em;  /* ceci est un commentaire */
    font-family: 'Indie Flower', cursive;
    text-align: center;
    width : 90%;
    margin: auto;
}

h3::before {
    content:  "«";
    color : grey;
    /* width:90%; */
}

h3 {
    font-weight: bold;
    font-size: 1.5em;
    /* clear: both; */
    text-align: center;
}

h3::after {
    content:  "»";
    color : grey;
}

/* BARRE DE NAVIGATION */
nav li {
    color : black;
    list-style-type: none;
    display: inline;
    margin: 10px;
}

nav {
    color : black;
    background-color: white;
    box-shadow: 0px 3px 1px -1px rgba(0,0,0,0.5);
    text-align: center;
    font-size: 1.1em;
    clear: both;
    margin-top: 0px;
	padding : 15px;
}

nav a {
    color : black;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    position:relative;
}

nav ul {
    padding: 0px;
    margin-top: 0px;
}

/* ANIMATION menu : trait bleu */
nav ul li a::before {
    content: '';
    width:0%;
    height:5px;
    background-color: lightskyblue;
    position: absolute;
    top:110%;
    transition:all 0.4s ease-out;
}

nav ul li a:hover::before {
    content: '';
    width:50%;
    transform: translateX(100%);
    box-shadow: 2px 2px 2px grey;
}


/* ANIMATION menu : trait violet */
nav ul li a::after {
    content: '';
    width:0%;
    height:5px;
    background-color:#f0f;
    position: absolute;
    top:110%;
    right:0;
    transition:all 0.4s ease-out;
}

nav ul li a:hover::after {
    content: '';
    width:50%;
    transform: translateX(-100%);
    box-shadow: 2px 2px 2px grey;
}

/* Mettre la police en gras au survol d'un élément du menu : */
nav li:hover {
    /* transition : 0.3s;
    font-weight: bold;
    text-transform: uppercase; */
    /* font-size: 1.2em; */
    text-shadow: 2px 2px 2px grey;
    display: inline;
}



p {
    margin-bottom: 6; 
}
/* Pour  faire un retrait de 1ère ligne */
/* dans les introductions des séances : */
p + p {
    text-indent: 1.5em;
    margin-top: 0;
}

footer {
    background-color: #1d1d1d;
    color : white;
    text-align: center;
	 padding : 15px;
}

iframe {
    justify-content : center;
    width : 300px; 
	display : block;
	margin : auto;
	border-radius : 5px;
	box-shadow : 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}


  
.video-container {
    position: relative;
    padding-bottom: 56.25%; /* ratio 16/9 */
    height: 0; overflow: hidden;
    clear: both;
}


/* ID */
#contact {
	width : 80%;
    margin : auto;
    display: block;
    border : 2px black solid;
    border-radius: 15px;
    padding : 30px;
    margin-bottom : 50px;
    box-shadow: 5px 5px 5px grey; 
    background-image: radial-gradient(circle at 61.19% 8.26%, #ffffff 0, #becae5 50%, #5e7bad 100%);
}

 
/* CLASSES */
.separator {
	width : 100px;
	height : 2px;
    margin : 15px auto;
	display : block;
	background-color : #999999;
	}


.intro, .introa {
	font-size: 1.2em; 
    text-align : justify;
    line-height: 1.5em;
    /* word-spacing: 0.3em; */
	width : 80%;
	margin : auto;
}

.titre {
    text-transform : uppercase;
    font-weight: bold;
	text-align : center;
}
/* --------------- AJOUT POUR LA TIMELINE -------------- */
/* Container de la Timeline */
.timeline {
    background-color: #F4F7F6; 
    margin: 50px auto;
    padding-left:0px;
    position:relative;
    /* filter:url(#round); */
  }
  
  .intitule {
    filter:url(#round);
    position:absolute;
    left :60px;
    top:-25px;
    /* bottom:10px; */
    z-index : 3;
  }

  .intitule2 {
    filter:url(#round);
    position:absolute;
    left :60px;
    top:-25px;
    /* bottom:10px; */
    z-index : 3;
  }
  
  /* intitulé de la série */
  .intitule::before {
    content:'INDISPENSABLE';
    color:white;
    background-color: red;
    padding : 20px 20px;
    text-align: center;
    -webkit-clip-path: polygon(1% 81%, 0% 35%, 100% 0%, 100% 100%);
    clip-path: polygon(1% 81%, 0% 35%, 100% 0%, 100% 100%);
    z-index : 3;
  }

  .intitule2::before {
    content:'LES BASES';
    color:white;
    background-color: orange;
    padding : 20px 20px;
    text-align: center;
    -webkit-clip-path: polygon(1% 81%, 0% 35%, 100% 0%, 100% 100%);
    clip-path: polygon(1% 81%, 0% 35%, 100% 0%, 100% 100%);
    z-index : 3;
  }
  
  /* Conteneur de Carte */
  .card1 {
      position: relative;
      max-width: 360px;
      max-height: 400px;
      filter: drop-shadow(7px 7px 4px rgba(0, 0, 0, .7));
      counter-increment: etape; /* COMPTEUR + 1*/
  }
  
  /* Mise en place du padding selon que la carte est de n° pair ou impair */
  .card1:nth-child(odd) {
      padding: 30px 0 30px 30px;
    }
  
  .card1:nth-child(even) {
      padding: 30px 30px 30px 0;
    }
  
  /* Bordures Globales ::before */
  .card1::before {
      content: "";
      position: absolute;
      width: 50%;
      border: solid red;
      z-index : -1;
      /* z-index : 1; */
    }


    .orange::before{
        border: solid orange;
    }
  /* Mise en place de la bordure du Haut, du Bas et de Gauche */
  /* 
  -------------
  |
  |
  |
  ------------- 
  */
  .card1:nth-child(odd)::before {
      left: 0px;
      top: -4.5px; 
      bottom: -4.5px;
      border-width: 5px 0 5px 5px;
      border-radius: 50px 0 0 50px;
      filter: drop-shadow(7px 7px 4px rgba(0, 0, 0, .7));
      z-index: -1;
    }
  
  
    /* Setting the top and bottom to "-5px" because earlier it was out of a pixel in mobile devices */
    @media only screen and (max-width: 400px) {
      .card1:nth-child(odd)::before {
        top: -5px;
        bottom: -5px;
      }
    }
  
  /* Mise en place de la bordure du Haut, du Bas et de Doite */
  /* 
                -------------
                            |
                            |
                            |
                ------------- 
  */
  .card1:nth-child(even)::before {
      right: 0;
      top: 0;
      bottom: 0;
      border-width: 5px 5px 5px 0;
      border-radius: 0 50px 50px 0;
      filter: drop-shadow(7px 7px 4px rgba(0, 0, 0, .7));
      z-index: -1;
    }
  
  /* On retire la bordure du haut si c'est la 1ère carte */
  .card1:first-child::before {
      border-top: 0;
      border-top-left-radius: 0;
      z-index : -1;
    }
  
  /* On retire la bordure du Bas si c'est la dernière carte et si c'est IMPAIR */
  .card1:last-child:nth-child(odd)::before {
      border-bottom: 0;
      border-bottom-left-radius: 0;
    }
    
  /* On retire la bordure du Bas si c'est la dernière carte et si c'est PAIR */
  .card1:last-child:nth-child(even)::before {
      border-bottom: 0;
      border-bottom-right-radius: 0;
    }
  

/* .video {
    width : 90%;
	justify-content : center;
	display : block;
	margin : auto;
	border-radius : 5px;
	box-shadow : 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
} */

.video {
    width:90%;
    max-width:360px;
}

/* Information à propos de la Timeline */
.info{
    display: flex;
    flex-direction: column;
    background: #333;
    background-color: white;
    color: gray;
    border-radius: 10px;
    padding: 10px;
    transition: all 0.2s;
}

.card1:hover .title::before {
  transform : scale(1.50);
  color: white;
  background-color: red;
  border-radius: 0%;
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%); /* CHEVRON DROIT*/
}

.orange:hover .title::before {
    background-color: orange;
    border : 0px solid orange;
  }

.card1:nth-child(even):hover .title::before {
  clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%); /* CHEVRON GAUCHE*/
}

.card1:hover .title {
  color:white;
}

.card1:hover .info {
  background-color: rgba(0,0,0,0.15);
  /* color:white; */
}

/* Titre de la Carte */
.title {
    color: red;
    font-size:22px;
    position: relative;
  }
  
/* le Point de la Timeline  */
.title::before {
  content: "" counter(etape); /* COMPTEUR */
  box-sizing:content-box;
  position: absolute;
  text-align: center;
  width: 30px;
  height: 30px;
  background: white;
  border-radius: 50%;
  border: 3px solid red;
  transition :all 0.1s ease-in;
  /* clip-path: circle(75%); */
  /* clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%); */
  /* clip-path: polygon(1% 100%, 19% 31%, 48% 60%, 76% 29%, 100% 100%); */
  /* transform : translateX(-25%) scale(1.0); */
  }

.orange .title::before {
border: 3px solid orange;
}

  
/* texte à droite si la carte est PAIRE  */
.card1:nth-child(even) > .info > .title {
  text-align: right;
}

/* mettre le point à gauche si la carte est IMPAIRE */
.card1:nth-child(odd) > .info > .title::before {
  left: -53px;
  /* left :0px; */
}

/* mettre le point à droite si la carte est PAIRE */
.card1:nth-child(even) > .info > .title::before {
  right: -53px;
  /* right:0px; */
}



/* MEDIA QUERIES */
@media all and (max-width : 1000px){
    
    header h2 {width : 90%;}
    header h2 {width : 90%;}
    h3 {width : 95%; font-size : 1.2em;}
    .contener {width : 85%; margin : auto;}
    .intro {width : 90%; margin: 10px auto;}
    .introa {width : 90%; margin: 10px auto;}
    .bienvenue {width : 90%}
    .picture-project h3 {width: 100%; padding : 0% 15%; font-size: 1.2em; text-align: center; }
}
